GITHUB_CLIENT_ID=your_id_here
GITHUB_CLIENT_SECRET=your_secret_here
GOOGLE_CLIENT_ID=your_id_here
GOOGLE_CLIENT_SECRET=your_secret_here
EVOLUTION_API_URL=http://localhost:8080
EVOLUTION_API_TOKEN=your_token_here
